{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}
{% block layout_header_search %}
    <div id="searchBar" style="display:none">
        {{ parent() }}
    </div>
{% endblock %}